<%- include('partials/header') %>


    <%- include('partials/nav') %>

        <% offers.forEach(function(create-offer) { %>
            <div class="card">
                <div class="status">
                    <%= offer.status %>
                </div>
                <div class="name">
                    <%= offer.title %>
                </div>
                <div class="employer">
                    <%= offer.employerName %>
                </div>
                <a href="" class="seemore">See more</a>
            </div>
            <% }); %>


                <%- include('partials/footer') %>