<%- include('partials/header') %>


    <%- include('partials/nav') %>

        <h2 class="titleUpdate">Update offer</h2>

        <form class="formOffer" method="POST">

            <label class="title" for="jobTitle">Job Title</label>
            <input type="text" name="jobTitle" value="<%= offer.jobTitle %>" required />


            <label class="title" for="url">Website</label>
            <input type="text" name="url" value="<%= offer.url %>" required />


            <label class="title" for="employerName">Name</label>
            <input type="text" name="employerName" value="<%= offer.employerName %>" required />


            <label class="title" for="employerEmail">Email</label>
            <input type="text" name="employerEmail" value="<%= offer.employerEmail %>" required />


            <label class="title" for="employerPhone">Phone</label>
            <input type="text" name="employerPhone" value="<%= offer.employerPhone %>" />


            <label class="title" for="employerAddress">Address</label>
            <input type="text" name="employerAddress" value="<%= offer.employerAddress %>" />

            <div class="label">
                <label class="title" for="offerOrigin">Origin</label>
                <select name="offerOrigin" class="btn" id="offerOrigin" value="<%= offer.offerOrigin %>">
                    <option value="freeApply">Free apply</option>
                    <option value="jobOffer">job offer</option>
                </select>

                <label class="title" for="offerStatus">Status</label>

                <select name="offerStatus" class="btn" id="offerStatus" value="<%= offer.offerStatus %>">
                    <option value="pending">Pending</option>
                    <option value="interested">Interested</option>
                    <option value="CV">Resume</option>
                    <option value="Negative">Negative</option>
                    <option value="Interview">Interview</option>
                </select>
            </div>

            <label class="title" for="comments">Comments</label>
            <input type="text" name="comments" value="<%= offer.comments %>" /> <br>
            <div class="btnCreate">
                <input class="btn" type="submit" value="Enregistrer" />
            </div>
        </form>


        <%- include('partials/footer') %>

            <script>
                const form = document.querySelector('update-offer');
                form.addEventListener("submit", async (e) => {
                    e.preventDefault();


                    const jobTitle = form.jobTitle.value;
                    const url = form.url.value;
                    const employerName = form.employerName.value;
                    const employerEmail = form.employerEmail.value;
                    const employerPhone = form.employerPhone.value;
                    const employerAddress = form.employerAddress.value;
                    const offerOrigin = form.offerOrigin.value;
                    const offerStatus = form.offerStatus.value;
                    const comments = form.comments.value;
                    console.log("Je suis dans l'event listner")
                    try {
                        console.log("Je lance le post")
                        const res = await fetch("/update-offer", {
                            method: "POST",
                            body: JSON.stringify({ jobTitle, url, employerName, employerEmail, employerPhone, employerAddress, offerOrigin, offerStatus, comments }),
                            headers: { "Content-Type": "application/json" },
                        });
                        res.json()
                        if (res.status === 200) {
                            window.location.href = "/";
                        }
                    }
                    catch (err) {
                        console.log(err);

                    }
                });
            </script>


            <script>
                const deleteBtn = document.querySelector('.btn[value="Delete"]');
                deleteBtn.addEventListener("", async () => {
                    try {
                        const res = await fetch("/delete/:id", {
                            method: "DELETE",
                            body: JSON.stringify({ offerId: "<%= offer._id %>" }),
                            headers: { "Content-Type": "application/json" },
                        });
                        res.json();
                        if (res.status === 200) {
                            window.location.href = "/";
                        }
                    } catch (err) {
                        console.log(err);
                    }
                });
            </script>